<div class="container">
  <div class="row">
    <div class="col-12">
      <p id="notice"><%= notice %></p>
      <h3><%= @item.store.name %></h3>
      <h3><%= @item.name %></h3>

      <p>
        <strong>Category:</strong>
        <%= @item.category %>
      </p>

      <% if @item.regularprice %>
      <p>
        <strong>Regular Price:</strong>
        $<%= @item.regularprice %>
      </p>
      <% end %>

      <% if @item.saleprice %>
      <p>
        <strong>Sales Price:</strong>
        $<%= @item.saleprice %>
      </p>
      <% end %>

      <%= link_to 'Edit', edit_item_path(@item) %> |
      <%= link_to 'Back', items_path %>
    </div>
  </div>
</div>
