<%= form_with(model: shopping_list, local: true) do |form| %>
  <% if shopping_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shopping_list.errors.count, "error") %> prohibited this shopping_list from being saved:</h2>

      <ul>
      <% shopping_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @shopping_list.store_id.nil? %>
  <div class="field">
    <%= form.label :store_id %>
    <%= form.collection_select(:store_id, @stores, :id, :name) %>
  </div>
  <% else %>
    <h4>Editing Shopping List for <%= @shopping_list.store.name %></h4>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :shopping_list_date %>
  </div>
  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time, id: :shopping_list_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
