<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @shopping_list.store %>
</p>

<p>
  <strong>User:</strong>
  <%= @shopping_list.user %>
</p>

<p>
  <strong>Date:</strong>
  <%= @shopping_list.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @shopping_list.time %>
</p>

<%= link_to 'Edit', edit_shopping_list_path(@shopping_list) %> |
<%= link_to 'Back', shopping_lists_path %>
